.contanier{
    font-size: 40px;
    display: flex;
    .nav-left{
        background-color: #ccc;
        width: 15%;
        min-width: 180px;
        height: calc(100vh);
    }
    .main{
        flex: 1;
        height: calc(100vh);
    }
    .content{
        position: relative;
        padding: 20px;
    }
}